/*  opciones universales, padding , margin reseteados y el border box para que los contenedores respeten su altura */

/* CSS TPE WEB1 */

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Layout de la  Pagina */

.contenedor, .contenedor-2, .contenedor-3 {
    display: grid;
    grid-template-columns: 1fr;
}


.contenedor {
    grid-template-areas: 
        "header"
        "titular"
        "content"
        "right-box"
        "footer";
}

header { grid-area: header; }
.titular { grid-area: titular; }
.content { grid-area: content; }
.right-box { grid-area: right-box; }

footer { grid-area: footer; }


.contenedor-2 {
    

    background-color: #f0bd15;

    grid-template-areas: 
        "header"
        "titular"
        "colibri"
        "info-products"
        "infoweb"
        "infotabla"
        "tablecontainer"
        "form-tabla"
        "footer";
} 

header { grid-area: header; }
.titular { grid-area: titular; }
.colibri { grid-area: colibri; }
.info-products { grid-area: info-products; }
.infoweb { grid-area: infoweb; }
.infotabla { grid-area: infotabla; }
.tablecontainer { grid-area: tablecontainer; }
.form-tabla { grid-area: form-tabla; }
footer { grid-area: footer; }

.contenedor-3 {

    grid-template-areas: 
        "header"
        "titular"
        "infoform"    
        "footer";
} 

header { grid-area: header; }
.titular { grid-area: titular; }
.infoform { grid-area: infoform; }
footer { grid-area: footer; }

    



/* MENU MOBILE */

/* logo */

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    background-color: #000;
}

.logo p a {
    color: #f5f385;
    text-decoration: none;
}

/* menu deslegable  */


.btn_menu {
    padding: 1em;
}

.btn_menu img {
    width: 100%;
    height: 2em;
}

.menu {
    display: flex;
    width: 100%;
    background-color: #fff;
}

ul.navegacion {
    width: 100%;
    flex-direction: column;
    display: none;
    padding: 2%;
    background-color: #000;
    border-top: 0.2em solid #000;
}


ul.navegacion.show {
    display: flex;
}

ul.navegacion li {
    list-style: none;
    padding-bottom: 2%;
    font-size: small;
    text-transform: uppercase;
    color: #f5f385;
}

ul.navegacion li a:hover{
    color: #da8414;
}


ul.navegacion li a {
    text-decoration: none;
    color: #f5f385;
}



.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
}















/* titular */

.titular {
    font-size: larger;
    background: rgb(245, 243, 133);
    border-bottom: 0.2em;
    border: solid #000;
    padding-top: 0.5%;
    text-transform: uppercase;
    text-align: center;
}


/* Section */

.content {
    display: flex;
    flex-direction: column;
}

.content p {
    padding: 4%;
    text-align: center;
    background-color: #000;
    color: #f5f385;
}

.thetime {
    width: 100%;
    background-color: rgb(240, 229, 229);
    text-align: center;
    font-size: 1.8em;
}

.joya-antigua img{
    width: 100%;
    height: 100%;

}



/* Aside */

.right-box {
    background-color: rgb(245, 243, 133);
    outline: 0.2em solid #000;
}

.imgtienda, .portadalogo {
    width: 100%;
    background-color: #000;
}

.portadalogo {
    width: 50%;
    margin-left: 20%;
}

.titulolista {
    background-color: rgb(240, 229, 229);
    border: 0.2em solid #000;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

.right-box p {
    padding: 4%;
    text-align: center;
}

.right-box p a {
    text-decoration: none;
}

.options {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    margin-top: 5%;
    justify-content:left;
    line-height: 1.5em;
}


/* footer */

footer {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #f0bd15;
    border: solid #000;
    border: 0.1em 0.2em 0.2em 0.2em;
    justify-content: center;
    align-items: center
}

.copyright {
    width: 50%;
}

.copyright p{
  padding-top: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #000;
  font-size: larger;
  background-color: #fff;
  border-radius: 0.2em;
  border: 0.1em solid #000;
  margin-left: 30%;
}

.metodospago{
    width: 50%;
}

.metodospago p{
    margin-left: 15%;
    padding: 2%;
    font-size: large;
   
}

.metodospago img {
    width: 50%;
    margin-left: 30%;
}


/* segundo contenedor - seccion de la tabla */

.colibri {
    width: 100%;
    background-color: #000;
}

.colibri img {
    width: 100%;
    height:100%;
}

.info-products{
    background-color: rgb(245, 243, 133);
  
}

.titulo-products, .artesano, .infotabla h4, p {
    text-align: center;
}

.titulo-products, .bloque1 p, ul,  .infotabla h4 {
    font-size: larger;
}

.artesano, .infotabla p  {
    font-size: large;
}


.titulo-products{
    background-color: #f0bd15;
    color: rgb(138, 20, 218);
    text-transform: uppercase;
    padding: 4%;
    border: 0.2em solid #000;
   
}

.artesano {
    padding-top: 3em;
    padding: 6%;
}

.artesano a {
    text-decoration: none;
}

.infoweb  {
    background-color: #f0bd15;
    border: 0.2em;
    border: solid #000;
}

.bloque1 {
    width: 70%;
}

.bloque2 {
    width: 30%;
 
}

.bloque2 img {
     padding: 12%;
     width: 100%;
     height: 100%;
}

.bloque1 p {
    text-align: left;
    padding-left: 5%;
}

.bloque1 ul {
    padding-left: 12%;
}

.bloque1 p, ul {
    padding-top: 5%;
}


.infotabla {
    background-color: #abebdd;
    border-width: 0 0.2em 0.2em 0.2em;
    border-color: #000;
    border-style: solid;
}

.infotabla p {
    padding-bottom: 2%;
}

.infotabla h4, p {
    padding-top: 1%;
    padding-bottom: 1%;
}

/* TABLA */


.tablecontainer {
    justify-content: center;
    text-align: center;
    border-left: 0.2em solid #000;
    border-right: 0.2em solid #000;
    background: rgb(245, 243, 133);
}

tbody {
    background: rgb(245, 243, 133);
    border: 0.2em solid #000; 
    border-left: 0;
    
}

.tabla_sin {
    border-collapse: collapse;
    border-top: 0;
}


th, td  {
    padding: 0.25%;
    text-align: center;
}

th {
    font-size: 1em;
}

thead {
    border: 0.2em solid #000; 
    background-color: rgb(240, 229, 229);
    border-top: 0;
    color: #000;
}


tr:nth-child(even) { /*  darle color a los tr pares */
    background-color: #fff;
}



/* formulario tabla dinamica */

.form-tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-left: 0.2em solid #000;
    border-right: 0.2em solid #000;

}

.select-products {
    display: flex;
    justify-content: row;
    width: 31.25em;
    border-left: 0.2em solid #000;
    border-right: 0.2em solid #000;
}

.select-products input {
    display: block;
}

.select-products button{
    width: 15.6em;
    
}

.boton {
    margin-left: 3.25em;
}

.boton, .boton2 {
    display: flex;
    flex-direction: row;
}

.select-products {
    display: flex;
    flex-direction: column; 
    background-color: #abebdd;
}

.select-products h2{
    text-align: center;
    background-color: rgb(240, 229, 229);
   
}

.select-products h2 {
    border-bottom: 0;
}

.infomod {
    border-top: 0;
    background-color: rgb(240, 229, 229);
    font-size: larger;
    border-bottom: 0.2em solid #000;
}

.respuesta {
    background-color: rgb(240, 229, 229);
    border: 0.2em solid #000;
    font-size: larger;
    text-align: center;
}

.select-products input, label {
    width: 50%;
    height: 2.5em;
    margin-left: 20%;
    text-align: center;
}

.select-products label {
    color: #000;
}





/* tercer contenedor - seccion formulario */

.titulo-pre {
    
    background-color: #f0bd15;
    color: rgb(138, 20, 218);
    text-transform: uppercase;
    padding: 1em;
    border: 0.2em solid #000;
    border-top: 0;
}

.joyeriadds {
    display: flex;
    flex-direction: column;
}

.info {
    background-color: rgb(245, 243, 133);
}

.titulo-pre, .info-us, .info-us2, .img-anillo {
    text-align: center;
    font-size: larger;
}

.explic {
    margin-left: 20%;
    width: 60%;
    background-color:  rgb(247, 246, 243);
    border-radius: 0.2em;
    border: 0 0.1em 0.1em 0.1em;
    border: solid #000;
    box-shadow:  0.5em 1em 2em #000;
}

.explic p {

    padding-top : 0.7em;
    text-align: center;
    font-size:large;
    padding: 0.7em;
}


.formu {
    background-color: #f0bd15;
}

.form-register {
    
    width: 50%;
    background-color: rgb(66, 65, 57);
    padding: 2em;
    margin: auto;
    margin-top: 1em;
    border-radius: 0.2em;
    box-shadow:  0.5em 1em 2em #000;
}

label {
    color: #000;
}


.entradas {
    
    display: flex;
    width: 100%;
    padding: 0.8em;
    border-radius: 0.25em;
    margin-bottom: 1em;
    font-size: medium;
}


.form-register h4, .info-form {
    margin-bottom: 0.8em;
    color:rgb(243, 240, 92);
}

.form-register h4, p {
    text-align: center;
}


.form-register h4{
    font-size:large;
}

.form-register p {
    font-size: medium;
    padding-top: 0.7em;
}

.form-register a {
    text-decoration: none;
}



#mensaje {
    color: #fff;
}



/* solo pantallas superiores a 660px */

@media only screen and (min-width: 660px) {
    /* layout de la pagina  */


 
 

    .contenedor {

        display: grid;
        grid-template-columns: 70%;
        grid-template-rows: auto;
        grid-template-areas: 

            "header header"
            "titular titular"
            "content right-box"
            "footer footer";
        }

    .btn_menu {
        display: none;
    }

    ul.navegacion {
        display: flex;
        flex-direction: row;
        border: 0;
    }


    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        font-size: larger;

    }

    .logo {
        width: 30%;
        justify-content: center;
    }

    .menu {
        width: 70%;
        background-color: #000;

    }

    .navegacion{
        margin-top: 3%;
        align-items: center;
        justify-content: space-around;
    }


        /* imagen aside */

    .portadalogo {
        width: 100%;
        margin-left: 0;
    }

    .contenedor-2 {
        display: grid;
        grid-template-columns: 50%;
        grid-template-areas: 
            "header header"
            "titular titular"
            "colibri info-products"
            "infoweb infoweb"
            "infotabla infotabla"
            "tablecontainer tablecontainer"
            "form-tabla form-tabla"
            "footer footer";
    } 

        header { grid-area: header; }
        .titular { grid-area: titular; }
        .colibri { grid-area: colibri; }
        .info-products { grid-area: info-products; }
        .infoweb { grid-area: infoweb; }
        .infotabla { grid-area: infotabla; }
        .tablecontainer { grid-area: tablecontainer; }
        .form-tabla { grid-area: form-tabla; }
        footer { grid-area: footer; }

    .bloques {
        display: flex;
        flex-direction: row;
    }

    .contenedor-3 {

        grid-template-areas: 
            "header"
            "titular"
            "infoform"    
            "footer";
    } 

    header { grid-area: header; }
    .titular { grid-area: titular; }
    .infoform { grid-area: infoform; }
    footer { grid-area: footer; }

    .joyeriadds {
        flex-direction: row;
            
    }

   

}

